[access]
	inheritFrom = All-Projects
[project]
	description = APPC Configuration Design Tool.\n\nMoved to read-only as per RELENG-3648
	state = read only
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/*"]
	owner = group saml/onap-gerrit-appc-cdt-committers
	read = deny group GitHub Replication
[plugin "its-jira"]
	enabled = true
