[access]
	inheritFrom = All-Projects
[project]
	description = APPC Configuration Design Tool.
[submit]
	action = rebase if necessary
	mergeContent = false
[access "refs/*"]
	owner = group ldap/onap-gerrit-appc-cdt-committers
	owner = group saml/onap-gerrit-appc-cdt-committers
	read = group GitHub Replication
